    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>

          </button>
          <a class="navbar-brand" href="/"><%= title%></a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <% for (var i=0;i<categories.length;i++) {%>
            <li><a href="/<%=categories[i].name.toLowerCase() %>"> <%= categories[i].name %></a></li>
            <% } %>
            <% if(!user) {%>
              <li><a href="#" data-toggle="dropdown" class="dropdown-toggle">SignUp / Login</a>
              <ul class="dropdown-menu">
                <li>  <a href="/users/register">SignUp</a></li>
                <li>  <a href="/users/login">Login</a></li>
              </ul>
              </li>
              <% } else { %>
    
              <li><a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= user.name %></a>
               <ul class="dropdown-menu">
                <li>  <a href="/">Home</a></li>
                <li>  <a href="/users/logout">Logout</a></li>
               </ul>
              </li>
              <% } %>
       

        </ul>        
      </div>
    </nav>
