body {
	padding-top: 100px;
}
.row{
	margin-bottom: 20px;
	}
.border{
	border-bottom: 2px solid grey;
}
#navbar-gap{
	margin-top: -4%;
}
.align_container{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}
.align_child{

	align-self: flex-end;
}