<% layout('layout') %>

	<div class="container">
		<ol class="breadcrumb">
			<% for(var j=0;j<breadcrumb.length;j++) { %>
				<li >
					<a href="<%= breadcrumb[j].url %>">
						<span>
							<%= breadcrumb[j].title%>
						</span>
					</a>
				</li>
				<%}%>
		</ol>
		<!-- Example row of columns -->
		<% for (var i=0;i<category[0].categories.length;i++) {%>

			<h2>
				<%= category[0].categories[i].name %>
			</h2>
			<% for (var j=0;j<category[0].categories[i].categories.length;j++) {%>
				<div class="row align_container border">
					<div class="col-md-5 col-sm-5">
						<img src="/images/<%=category[0].categories[i].categories[j].image %>" alt="" class="img-responsive">
					</div>
					<div class="col-md-7 col-sm-7 align_container">
							<h2>
									<%= category[0].categories[i].categories[j].name %>
								</h2>
						<h3>
							<%= category[0].categories[i].categories[j].page_description %>
						</h3>
						<a class="btn btn-default align_child" href="/<%= category[0].name.toLowerCase() %>/<%= category[0].categories[i].categories[j].id %>">Show All
							<%= category[0].categories[i].categories[j].name.toUpperCase() %>
						</a>
					</div>
				</div>
				<% } %>
					<% } %>
	</div>