<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Shop Smart, Save Big!</h1>
    <p>Starting point to buy something more unique</p>
    <% if(!user) {%>
    <p><a class="btn btn-primary btn-lg" href="/users/register" role="button">Signup &raquo;</a></p>
    <% } %>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <% for (var i=0;i<categories[0].categories[0].categories.length;i++) {%>
      <% let random=Math.floor(Math.random() * (2)); %>
  <div class="row border">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <img src="/images/<%= categories[random].categories[0].categories[i].image %>" alt="" class="img-responsive">
     </div>
    <div class="col-md-7 col-sm-7 col-xs-12">
      <h3><%=categories[random].categories[0].categories[i].page_title %></h3>
      <p><%=categories[random].categories[0].categories[i].page_description %></p>
      <div class="row " >
          <a href="//<%= categories[random].name.toLowerCase() %>/<%= categories[random].categories[0].categories[i].id %>" class="btn btn-success">View Products</a>
      </div>

   </div>
  </div>
  <% } %>
</div>