<% layout('layout') -%>
<div class="row">
        <div class="col-md-6 col-sm-offset-3 col-md-6 col-sm-offset-3">

            <form action="/users/login" method="post">
                <h2>Log In </h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
                
                        
    
            </form>
        </div>
    </div>