<% layout('layout') %>
	<div class="container">
		<ol class="breadcrumb">
			<% for(var j=0;j<breadcrumb.length;j++) { %>
				<li>
					<a href="<%= breadcrumb[j].url %>">
						<span>
							<%= breadcrumb[j].title%>
						</span>
					</a>
				</li>
				<%}%>
		</ol>
		
		<% for (var i=0;i<products.length;i++) {%>
				<% if (products[i].primary_category_id==="womens-outfits") {%>
					<h2>
							<%= products[i].name%>
						</h2>
						<div class="row align_container border">
			
							<div class="col-md-5 col-sm-5">
								<img src="/images/<%=products[i].image_groups[0].images[0].link %>" alt="" class="img-responsive">
							</div>
							<div class="col-md-7 col-sm-7 align_container">
								<h3>
									<%= products[i].short_description %>
								</h3>
								<a class="btn btn-default align_child" href="/product/<%= products[i]._id %>">Show Details</a>
							</div>
						</div>
				<% } else {%>
			<h2>
				<%= products[i].page_title%>
			</h2>
			<div class="row align_container border">

				<div class="col-md-5 col-sm-5">
					<img src="/images/<%=products[i].image_groups[0].images[0].link %>" alt="" class="img-responsive">
				</div>
				<div class="col-md-7 col-sm-7 align_container">
					<h3>
						<%= products[i].page_description %>
					</h3>
					<a class="btn btn-default align_child" href="/<%=mainCategory%>/<%=products[i].primary_category_id %>/<%= products[i]._id %>">Show Details</a>
				</div>
			</div>
			<% } %>
			<% } %>
	</div>