<% layout('layout') %>
    <div class="container">
        <ol class="breadcrumb">
            <% for(var j=0;j<breadcrumb.length;j++) { %>
                <li>
                    <a href="<%= breadcrumb[j].url %>">
                        <span>
                            <%= breadcrumb[j].title%>
                        </span>
                    </a>
                </li>
                <%}%>
        </ol>
        <h2>
            <%= product.page_title%>
        </h2>
        <div class="row align_container border">

            <div class="col-md-5 col-sm-5">
                <img src="/images/<%=product.image_groups[0].images[0].link %>" alt="" class="img-responsive">

            </div>
            <div class="col-md-7 col-sm-7 align_container">
                <h3>
                    <%= product.page_description %>
                </h3>
                <div>
                    <span id="price">
                        <%= product.price%>
                    </span>
                    <select id="money-select">
                        <option value="USD" selected="selected">USD</option>
                        <option value="EU">EU</option>
                        <option value="UKR">UKR</option>
                    </select>
                </div>
                <br/>

                <div>Orderable:
                    <% if(product.orderable){ %>
                        <span>YES</span>
                        <% } else{ %>
                            <span>NO</span>
                            <% } %>
                </div>
                <a class="btn btn-default align_child" href="/buy/<%= product._id %>">Buy Now</a>
            </div>
        </div>
    </div>