<% layout('layout') -%>

<div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <% if (errors.length>0) {%>
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= errors %>
                </div>
                <% } %>
            <form action="/users/register" method="post">
                <h2>SignUp </h2>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
                
                        
    
            </form>
        </div>
    </div>